body {
	background-color: #f4f7f7;
}

.header-text h4 {
	color: #454552;
}

.header-text h1 {
	color: #5a85e8;
}

.displayArea {
	height: 500px !important;;
	margin-bottom: 20px;
	margin-top: 20px;
	resize: none;
}

#editor {
	max-height: 500px;
}

.panel {
	overflow-y: auto;
	max-height: 500px;
	padding: 10px;
}

.container {
	padding-bottom: 30px;
}